/* розрішення екрана у мене 1366рх, а макет розрахований на 1920рх,
тому 1rem буде дорівнювати 7рх, а при розрахунках вважатиму за 10рх для того,
щоб пропорційно сайт виглядав як на макеті */
html{
    font-size: 7px;
}

body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: #f5f5f5;
}

.header-top{
    background-color: #243B93;
    color: #ffffff;
    height: 6.5rem;
    display: flex;
    align-items: center; 
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo{
    width: 70%;
}

.header-top_holder{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu{
   display: flex;
   justify-content:space-evenly;
   align-items: center;
   width: 70%;
}

.main-menu>li{
   list-style: none;
   font-size: 1.6rem;
   letter-spacing: .3rem;
}

.main-menu>li:last-child{
    text-align: center;
}
.chooseLang{
   width: 7%;
   font-size: 2.8rem; 
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.chooseLang_img{
    width: 60%;
}

.upperCase{
    text-transform: uppercase;
}

.header_bottom{
    height: 8.5rem;
    background-color: #BFF0FF;
    font-size: 4.4rem;
    font-style: italic;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding-left: 15%;
    box-sizing: border-box;
}

.content{
    padding-top: 3rem;
    width: 100%;
}

.choose{
    width: 70%;
    font-size: 2.8rem;
    background-color: #fff;
    margin: 0 auto 3rem;
    padding: 0 1% 0 27%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-image: url(../images/arrow\ bottom.png);
    background-repeat: no-repeat;
    background-position: 99% 50%;
    background-size: 1.5%;
}

.card-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card{
    position: relative;
    display: flex;
    background-color: #2CBDEB;
    width: 70%;
    margin: 0 auto 3.2rem;
    padding: 1.3rem 5.2rem 2.1rem 5.2rem;
    box-sizing: border-box;
}

.card:hover path{
  fill: yellow;
}

.card:hover .btn{
    background-color: #EF075B;
}

.card:hover{
    box-shadow: 0 0 6rem .4rem  #2CBDEB;
    cursor: pointer;
}

.card_info-holder{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.card_info-holder_img{
    width: 35%;
    /* без margin-bottom: -2px зображення підскакувало на 2рх */
    margin-bottom: -2px;
}

.card_info-holder_img>img{
    width: 100%;
    
}

.card-descr{
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: end;
    box-sizing: border-box;
}

.card-name{
    font-size: 3.6rem;
    font-weight: 700;
    font-style: italic;
    border-bottom: .3rem solid #fff;
    width: 95%;
    margin-bottom: 1%;
    box-sizing: border-box;
}

.star{
    position: absolute;
    right: .5%;
    top: 0;
}

.btn{
    padding: .4rem 4.8rem 1.1rem 3.2rem;
    border-radius: 3rem;
    font-size: 2.4rem;
    background-color: #243B93;
    color: #ffffff;
    box-sizing: border-box;
}

.btn:hover{
    background-color: #EF075B;
}

.btn_abs{
    position: absolute;
    top: 80%;
    right: -3%;
}

.card-text{
    width: 95%;
    background-color: #EDFBFF;
    font-size: 2.2rem;
    font-weight: 400;
    color: #202846;
    padding: 1rem 5rem 8rem 1rem;
    box-sizing: border-box;
}

.up{
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #300C6A4D;
    bottom: 15%;
    right: -5%;
}

.privat-office{
    display: flex;
    flex-direction: column;
}

.privat-office_banner{
    height: 8.5rem;
    background-image: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    display: flex;
    align-items: center;
}

.privat-office_banner_text{
    font-size: 4.4rem;
    font-style: italic;
    color: #243B93;
    margin-left: 15%;
}

.privat-office_card{
    display: flex;
    width: 70%;
    margin: 3.6rem 15% 1.9rem;
    padding: 7.7rem;
    background-image: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.avatar{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.about{
    font-size: 3.6rem;
    font-weight: 700;
    font-style: italic;
}

.col{
    border-bottom: .3rem solid #ffffff;
    padding: 2rem 0;
} 

.col:last-child{
    border: none;
}

.settings{
    padding-right: 5.5rem;
}

.exit{
    text-transform: uppercase;
    width: 17.4rem;
    margin: 0 auto 5.6rem;
    padding: 1rem 2rem 1.1rem;
    text-align: center;
}


.contacts_banner{
    background-image: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    height: 8.5rem;
    display: flex;
    align-items: center;
}

.contacts_banner_text{
    font-size: 4.4rem;
    font-weight: 400;
    font-style: italic;
    margin-left: 15%;
    color: #243B93;
}

.contacts-info{
    display: flex;
    margin: 0 15%;
    background-color: #f5f5f5;
    justify-content: space-between;
    padding-top: 2.5rem;
    box-sizing: border-box;
}

.contacts-info_left, .contacts-info_center{
    display: flex;
    flex-direction: column;
}

.email, .tel, .adr{
    font-size: 3.2rem;
    font-weight: 400;
}

.num{
  font-size: 3rem;
  border-top: .3rem solid #202846;
}

.iframe-holder{
    border: 3px solid #243B93;
    width: 40%;
    height: 29rem;
    border-radius: 4rem;
    overflow: hidden;
    position: relative;
}

iframe{
    position: absolute;
    top:-50%;
    left: -30%;
}

.tel-num{
    width: 68%;
}

footer{
    height: 6.5rem;
    background-color: #243B93;
    display: flex;
    align-items: center;
}

.footer-holder{
    width: 49%;
    display: flex;
    padding: 0 15%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 2rem;
}


