html {
  font-size: 10px;
  --color-black: #000000;
  --color-explanation: #a8a8a8;
  --color-placeholder: #cccccc;
  --color-header: #2d4f61;
  --color-holder-bg: #fff;
  --color-user: #c4c4c4;
  --color-login: #476d73;
  --color-white: #ffffff;
  --color-button: #27485d;
}

body {
  margin: 0;
  background-image: linear-gradient(112.23deg, #3e718e 0%, #64969b 100%);
  padding: 11rem 0 18.2rem;
  font-family: "Space Grotesk", sans-serif;
}

.container {
  width: 68%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.holder {
  width: 68%;
  background-color: var(--color-holder-bg);
  background-image: url(../img/Stroke\ 5.png);
  background-repeat: no-repeat;
  padding: 1.15rem 0 3.7rem 3.2rem;
  box-sizing: border-box;
}

.header {
  margin-bottom: 6.8rem;
}
.header__text {
  color: var(--color-header);
  background: linear-gradient(
    93.38deg,
    #496f74 -3.47%,
    #6e9195 35.61%,
    #2d4f61 84.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 2.4rem;
}

.form-holder {
  margin: 0 auto;
  width: 70%;
}

.form-header {
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-black);
}

form {
  width: 100%;
}

form input,
form select {
  width: 100%;
  color: #2d4f61;
  border: 1px solid #cccccc;
  box-shadow: 0px 2px 2px 2px #cccccc1a;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  height: 2.5rem;
  padding: 0 0.8rem;
  box-sizing: border-box;
}

form select {
  margin-bottom: 9.5rem;
}

form label {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-black);
  line-height: 2.4rem;
}

input[type="password"] {
  margin-bottom: 0;
}

.explanation {
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-explanation);
}

.explanation:nth-of-type(2) {
  margin-bottom: 1.7rem;
}

.optional,
input::placeholder {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--color-placeholder);
}

span[class^="user"],
.nav {
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--color-user);
}

.user-submit {
  padding: 0.6rem 0 0.6rem;
  height: 3.4rem;
}

.logging {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.user-log a {
  color: var(--color-login);
  margin-left: 1%;
}

input[type="button"] {
  background-color: var(--color-button);
  border: 1px solid #284a5e;
  box-shadow: 0px 2px 2px 2px #cccccc1a;
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.6rem;
}

.title-wrapper {
  width: 50%;
  padding: 0.5rem;
}

.title {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(160.42deg, #517879 0%, #214159 100%);
  box-shadow: 0px 0px 10px 9px #4e7577;
  box-sizing: border-box;
  display: flex;
  align-items: end;
  flex-direction: column;
}
.nav {
  width: 40%;
  display: flex;
  justify-content: space-around;
  margin-top: 0.8rem;
}

.nav a {
  color: var(--color-white);
  text-decoration: none;
}

.quote {
  width: 80%;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6rem;
  color: #ffffff;
  margin: 20rem auto 0;
  box-sizing: border-box;
}

.quote-autor {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
