body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    max-width: 1700px;
    min-width: 1000px;
    margin: 0;
}

.header {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
}

.blue {
    font-family: 'M PLUS 1', sans-serif;
    color: #3E45E8;
}

.yellow {
    font-family:  'Marcellus', serif;
    color: #E8C23E;
}

.poem {
    position: relative;
    width: 100%;
    background-image: url(../images/poem\ background.png), url(../images/background\ poem\ img.png);
    background-size: 100% 100%;
}

.poem-text{
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    display: inline-block;
   margin: 18% 0 18% 10%;
}

.poem_img-blue{
    margin-bottom: -4px;
}

.poem-imgHolder {
    position: absolute;
    top: 30%;
    left: 0%;
    max-width: 25px;
    display: inline-block;
    margin-left: 6%;  
}


.ukr-places{
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1%;
  margin-left: 5%;
}

.places-underline {
    margin-bottom: 3%;
}

.yellow {
    margin-left: -1%;
}


.tustan, .lutsk, .stone-grave {
    display: inline-block;
    border: 5px solid #0D095F;
    border-radius: 30px;
    width: 29%;
}

.tustan {
    box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.35);
}

.lutsk {
    box-shadow: 0px 21px 35px rgba(0, 209, 255, 0.35);
}

.stone-grave {
    box-shadow: 16px 21px 40px rgba(0, 209, 255, 0.35);

}

.places {
    width: 100%;
}

.places-h{
    color: #0072DB;
    font-size: 24px;
}

.capitalize {
    text-transform: capitalize;
}

.img-descr {
    color: #FF9900;
    font-size: 20px;
    font-weight: 400;
}

.place-img {
    width: 95%; 
    display: flex; 
    justify-content: space-around;
    margin: 0 auto;
}

.place-img p {
    margin-left: 3%;
}

.uww {
    text-align: center;
    margin-top: 5%;
}

.uww p {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 0;
}

.map {
    margin: 5% auto;
}

.go-holder{
 background: url(../images/go.png) no-repeat center;
 background-size: contain;
 text-transform: uppercase;
 font-size: 64px;
 width: 38%;
display: inline-block;
}

.go {
    color: #ffffff;
    text-decoration: none;
}

footer{
  font-family: 'M PLUS 1', sans-serif;
  font-size: 48px;
  font-size: 400;
  text-align: center;
  background: url(../images/contacts.png) no-repeat;
  background-size: cover;
  margin-top: 3%;
  padding-bottom: 2%;
}

footer a{
    text-decoration: none;
}

.strong {
  color: #3E45E8;
}

.ukraine {
    color:#DFE31E;
}

.mail, .tel{
    font-family:  'Marcellus', serif;
    font-weight: 400;
    color: #A89D9D;
}

.socials{
 width: 15%;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
}