body {
    width: 95%;
    padding: 18px 25px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
}



h1 {
margin-top: 4px;
font-size: 40px;
font-weight: 400;
}


h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 4px;
}

h2 {
    margin-bottom: 9px;
}

.descr {
    font-size: 16px;
}
.merc {
    margin-bottom: 62px;
}

.name_right{
    text-align: right;
}

.center_pos {
    text-align: center;
}

.right_holder {
    text-align: right;
    margin-top: 46px;
    margin-bottom: 9px;
}


.gradient_jup {
    margin-top: -80px;
    width: 90%;
}


table {
  width: 80%;
  border: 5px solid black;
  height: 180px;
  border-collapse: collapse;
  margin: 10% auto 0;
  z-index: 5;
  position: relative;
}
th, td {
  border: 5px solid black; 
}

/* .logo_holder {

 position: relative;
 width: 90%;
 margin: 0 auto;
}

.man_holderIm, .top_holderIm, .left_holderIm, .right_holderIm {
   position: absolute;
}    

.top_holderIm {
  text-align: center;
  width: 100%;
  z-index: 4;
}

.left_holderIm {
  width: 8%;
  left:-0.25%;
  top:0;
  z-index: 2;
} 

.right_holderIm {
    width: 8%;
  top:0;
  right: 0;
  z-index: 3;
}

.man_holderIm {
  width: 100%;
  z-index: 1;
}

.top_grad {
    width: 98%;
}

.left_grad, .right_grad {
  width: 100%;
}

.man_photo {
    width: 100%;
}

.blue_holder {
    margin-top: 65%;
    position: relative;
    width: 100%;
    z-index: 1;
    text-align: center;
}

.blue {
    width: 98%;
}

.left_conner, .yellow_tale, .yellowS, .link {
    position: absolute;
}

.left_conner {
    bottom: -29%;
    left: 1%;
    z-index: 2;
    width: 15%;
}


.yellowS {
left: 9%;
width: 74.3%;
top: -48%;
z-index: 4;
}

.yellow_tale{
z-index: 3;
bottom: 100%;
width: 23%;
right: 1%;
}

.link {
    z-index: 5;
    bottom: 40%;
   right: 5%;
}

.link> a {
  color: white;   
  font-size: 150%;
} */