@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:ital,wght@0,400;0,600;1,600&family=Roboto:wght@700&family=Work+Sans:wght@500;600;700&display=swap");
/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif; */
html {
  font-size: 10px;
  --color-white: white;
  --color-orange: #ffb742;
  --color-dark: #212529;
  --color-middleGrey: #d4d4d4;
  --color-black: #000000;
  --color-skills: #383E45;
  --color-skills-hover: #FFB74280;
  
  /* footer-colors */
  --color-lightGrey: #f5fbf2;
  --color-darkGrey: #7b7b7b;
  --color-footerBG: #1c1c1c;
}

body {
  padding-top: 2.3rem;
  background-color: #212529;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  height: 6.6rem;
  margin: 0 auto 10.8rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  width: 35%;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.nav-bar > div > a {
  text-decoration: none;
  color: var(--color-white);
}

.nav-bar > div > a:hover {
  color: var(--color-orange);
}

.hire-me {
  color: var(--color-dark);
  background-color: var(--color-orange);
  border-radius: 3rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 1.2rem 2.6rem;
}

.hireMe{
  text-decoration: none;
}

.visit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--color-white);
  font-family: "Inter", sans-serif;
  margin-bottom: 13.6rem;
}

.hi {
  font-size: 3.2rem;
  font-weight: 700;
}

.kartik {
  color: var(--color-orange);
  text-decoration: underline;
}

.hand {
  color: var(--color-orange);
}

.profession {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  color: #ffffff;
  margin-bottom: 5rem;
}

.about-prof {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  color: #ffffff;
  margin-bottom: 5rem;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.card {
  width: 31.5%;
  background: #292b2e;
  color: var(--color-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.card:hover {
  background: linear-gradient(
    94.3deg,
    #ffb742 0%,
    rgba(255, 123, 66, 0.76) 99.33%
  );
}

.card:hover .card-title,
.card:hover .card-subtitle {
  color: #212529;
}

.card-title {
  font-size: 3.2rem;
  color: var(--color-orange);
}
.card-subtitle {
  font-size: 1.6rem;
  color: var(--color-white);
}

.container {
  display: flex;
  margin: 22rem auto 0;
  width: 90%;
  justify-content: space-between;
}

.left {
  width: 45%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.left img {
  width: 100%;
}

.right {
  width: 50%;
}

.skills-logos{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  justify-content: space-between;
}

.skill-cont{
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  background-color: var(--color-skills);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
}

.skill-cont:hover{
  background-color: var(--color-skills-hover);
}

.dark-btn {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff14;
  height: 4.2rem;
  border-radius: 5rem;
  padding: 0.6rem 2.4rem;
  box-sizing: border-box;
  color: var(--color-orange);
  text-transform: uppercase;
}

.who{
   width: 14.8rem;
}

.header {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  color: var(--color-white);
  margin-bottom: 3rem;
}

.text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-middleGrey);
  margin-bottom: 5.5rem;
  line-height: 3rem;
}

.hire-me {
  width: 14.7rem;
  height: 5.4rem;
  padding: 1.2rem 3.9rem;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

.cont-works{
  flex-direction: column;
  align-items: center;
}

.menu{
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.menu>div{
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--color-white);
}

.menu>div:first-child{
  color: var(--color-dark);
  background-color: var(--color-orange);
  padding: .5rem 2rem;
}

.works-photo{
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}

.works-photo div{
  width: 32%;
}

.works-photo img{
  width: 100%;
}

.works-photo>div>img:first-child{
  margin-bottom: 2.7rem;
}

.feed-cont{
  flex-direction: column;
  align-items: center;
}

.feedback-cards{
  display: flex;
  justify-content: space-between;
  margin: 9rem 0 25.3rem;
}

.feed-card{
  width: 30%;
  background-color: var(--color-white);
  padding: 5rem 5rem 5rem 3rem;
  box-sizing: border-box;
  border-radius: 0.8rem;
}

.feed-card .text, .name-holder div:first-child, .name-holder div:last-child{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-black);
}

.stars{
  margin-bottom: 2.2rem;
}

.feeder{
  display: flex;
  justify-content: space-between;
}

.name-holder div:first-child{
font-weight: 700;
}

div.name-holder div:last-child{
  font-size: 1.6rem;
}

footer{
  display: flex;
  padding: 14.8rem 5rem 9rem;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-footerBG);
  box-sizing: border-box;
  align-items: start;
}

.kartik-bottom{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  color: var(--color-orange);
  margin-bottom: 1.3rem;
}

.footer-descr{
  width: 15%;
  padding-top: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: var( --color-darkGrey);
}

.footer-descr>div:first-child{
  font-weight: 700;
  font-size: 2.15rem;
  color: var(--color-lightGrey);
  margin-bottom: 1.3rem;
}

.under-kartik{
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-middleGrey);
}

footer>div:first-child{
  width: 20%;
}