@keyframes img-show-left {
  from {
    transform: translateX(-250%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes img-show-right {
  from {
    transform: translateX(250%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes services-circle1 {
  from {
    top: 0%;
    left: 0%;
  }
  25% {
    top: 0%;
    left: 50%;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0%;
  }
  to{
    top: 0%;
    left: 0%;
  }
}

@keyframes services-circle2 {
  from {
    top: 0%;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 50%;
  }
  50% {
    top: 50%;
    left: 0%;
  }

  75% {
    top: 0%;
    left: 0%;
  }
  to{
    top: 0%;
    left: 50%;
  }
}

@keyframes services-circle4 {
  from {
    top: 50%;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 0%;
  }
  50% {
    top: 0%;
    left: 0%;
  }

  75% {
    top: 0%;
    left: 50%;
  }
  to{
    top: 50%;
    left: 50%;
  }
}

@keyframes services-circle3 {
  from {
    top: 50%;
    left: 0%;
  }
  25% {
    top: 0%;
    left: 0%;
  }
  50% {
    top: 0%;
    left: 50%;
  }

  75% {
    top: 50%;
    left: 50%;
  }
  to{
    top: 50%;
    left: 0%;
  }
}

@keyframes img-show-left-768 {
  from{
   transform:translateX(-250%);
  }
  to{
    transform:translateX(0);
  }
}

@keyframes img-show-right-768 {
  from{
   transform:translateX(250%);
  }
  to{
    transform:translateX(0);
  }
}