@media screen and (max-width: 768px) {

   :root{
    font-size: 7px;
   }


      /* GALLERY */
  .box {
    flex-direction: column;
    display: block;
    margin-top: 2rem;
  }

  .left-one {
    order: 1;
    margin: 0 auto;
  }

  .right-one {
    order: 2;
  }

  .left-two {
    order: 3;
  }

  .right-two {
    order: 4;
  }

  .box > div {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .box>div>img{
    margin: 0 auto 3rem;

  }

  /* gallery animation start */

  .left-one {
   transform: translateX(-250%);
   animation: img-show-left-768 1s linear 1 forwards
  }

  .right-one {
    transform: translateX(250%);
   animation: img-show-right-768 1.5s linear 1 forwards
  }

  .left-two>img:nth-last-of-type(2){
    transform: translateX(-250%);
    animation: img-show-left-768 2s linear 1 forwards
}

.left-two>img:nth-last-of-type(1){
    transform: translateX(250%);
    animation: img-show-right-768 2.5s linear 1 forwards
}

  .right-two>img:nth-last-of-type(2){
    transform: translateX(-250%);
    animation: img-show-left-768 3s linear 1 forwards
}

.right-two>img:nth-last-of-type(1){
    transform: translateX(250%);
    animation: img-show-right-768 3.5s linear 1 forwards
}

/* gallery animation end */

#services-start{
  margin-bottom: 12rem;
}

/* SERVICES */

.services{
    height:90vh;
    margin-top: 16rem;
}

.services > .left{
    height: 100%;
}

.services > .right{
    display: none;
}

.left > div > img {
  width: 80%;
}

#team-start{
  margin-bottom: 15rem;
}

/* TEAM  */

.photo-holder{
  flex-direction: column;
}

.photo-holder>div{
  width: 75%;
  height: 90vh;
  margin: 0 auto;
  background-position: bottom;
  background-size: cover;
 
}

.photo-title{
  font-size: 4.8rem;
}

/* CONTACT */

.content{
  flex-direction: column;
}

.left-contact{
  order: 2;
  width: 90%;
  align-self: center;
  margin-bottom: 2rem;
}

iframe{
  order:1;
  width: 90%;
  align-self: center;
  margin-bottom: 2rem;
}

}



@media screen and (max-width: 992px) {

/* GALERY */

.box{
  flex-wrap: wrap;
  margin-top: 2rem;
}

.box-gallery>div{
  width: 50%;
}

.left-one{
  order: 1;
  animation: img-show-left 1s linear 1 forwards;
}

.right-one{
  justify-content: flex-end;
  order: 2;
  animation: img-show-right 1s linear 1 forwards;
}

.left-two{
  order: 3;
}

.right-two{
  align-items: flex-end;
  order:4;
}

/* SERVICES */

.services{
  flex-direction: column;
}

.box>.right{
  width: 90%;
    height: 85vh;
    margin: 9rem auto 0;
}

.box>.left{
  order:2;
  margin: 0 auto;
  width: 90%;
  height: 80vh;
}

/* TEAM */

.title{
  text-align: center;
  margin-bottom: 0;
  margin-top: 7rem;
}

.box-team .photo-holder{
  width: 100%;
  flex-wrap: wrap;
}

.box-team .photo-holder > div{
  width: 45%;
  margin-top: 2rem;
}


#contact-start{
  margin-bottom: 11rem;
}

/* CONTACT */

.content{
  flex-direction: column;
}

.left-contact{
  order: 2;
  width: 90%;
  align-self: center;
  margin-bottom: 2rem;
}

.contact>.content{
  width: 100%;
}

iframe{
  order:1;
  width: 90%;
  align-self: center;
  margin-bottom: 2rem;
}


}

@media screen and (max-width: 1050px){
:root{
  font-size: 9px;
}
}

@media screen and (max-width: 1170px){
  .contact-footer>div:nth-of-type(1){
    order: 1;
  }
  
  
  .contact-footer>div:nth-of-type(3){
    order: 2;
  }
  
  .contact-footer>div:nth-of-type(2){
    order: 3;
    margin: 0 auto;
  }
}

@media screen and (max-width: 825px){
  .contact-footer{
    flex-direction: column;
    align-items: center;
  }

  .contact-footer>div{
    margin-bottom: 2rem;
  }
  }

  @media screen and (max-width: 1487px){
    .contact-footer>div:last-child{
      margin:0 auto;
    }
  }