@import url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,600;0,700;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");
/* font-family: 'Rosario', sans-serif; */

:root {
  font-size: 10px;
  --color-nav-back: #000000;
  --color-nav-li: #fffcfc;
  --color-screen-back: #ffffff;
  --color-form-bg: #e5e5e5;
  --color-photo-title: #a3530ab2;
}

body {
  max-width: 1620px;
  margin: 0 auto;
  padding-top: 10vh;
  font-family: "Rosario", sans-serif;
}

.header {
  display: flex;
  background-color: var(--color-nav-back);
  height: 12vh;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header .logo img {
  height: 100%;
}

.navbar{
  padding: 0 1rem 0 0;
  max-width: 1620px;
  margin: 0 auto;
}

.bg-dark{
  background-color: var(--color-nav-back) !important;
}

.navbar-dark .navbar-nav .nav-link{
  color: var(--color-nav-li);
}

.navbar-collapse{
  justify-content: flex-end;
  font-size: 3.6rem;
}

.navbar-brand{
  padding: 0;
}

.navbar-brand>img{
 height: 10.24vh;
}

nav{
 position: sticky;
  top: 0;
  z-index: 2;
}
.nav {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  width: 55%;
  margin: 0;
  padding: 0;
 
}

.nav .nav__item {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: var(--color-nav-li);
  font-weight: 700;
  font-style: italic;
  font-size: 3.6rem;
}

.screen {
  min-height: 90vh;
  width: 100%;
  background-color: var(--color-screen-back);
  overflow: hidden;
}

.box {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
.left-one,
.right-one {
  width: 19%;
  display: flex;
  align-items: center;
}

.left-one > img,
.right-one > img,
.left-two > img,
.right-two > img {
  width: 95%;
}

.left-two,
.right-two {
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
}

.left-two > img:first-child,
.right-two > img:first-child {
  margin-bottom: 3rem;
}

/* gallery animation start */

.left-two {
  transform: translateX(-250%);
  animation: img-show-left 1s linear 1 forwards;
}

.left-one {
  transform: translateX(-150%);
  animation: img-show-left 2s linear 1 forwards;
}

.right-two {
  transform: translateX(250%);
  animation: img-show-right 1s linear 1 forwards;
}

.right-one {
  transform: translateX(150%);
  animation: img-show-right 2s linear 1 forwards;
}

/* gallery animation end */

/* SERVICES */

.services {
  padding: 0;
  margin: 7rem 0 0 0;
  width: 100%;
  min-height: 90vh;
}

.left {
  flex-wrap: wrap;
  display: flex;
  width: 50%;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  margin-top: 5rem;
}

.left > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  padding-top: 1rem;
}

.left > div:nth-of-type(1) {
  top: 0%;
  left: 0%;
}

.left > div:nth-of-type(2) {
  top: 0%;
  left: 50%;
}

.left > div:nth-of-type(3) {
  top: 50%;
  left: 0%;
}

.left > div:nth-of-type(4) {
  top: 50%;
  left: 50%;
}

.left > div > img {
  align-self: center;
  margin-bottom: 1rem;
  width: 75%;
}

 .box > .right {
  background-image: url(../img/services/right.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -8rem;
  width: 48%;
}

.screen > .box > .right > img {
  width: 100%;
}

.photo-descr {
  font-weight: 700;
  font-style: italic;
  font-size: 4.8rem;
  text-transform: capitalize;
  line-height: 5.8rem;
}

/* circle animation */

.left > div:nth-of-type(1) {
  animation: services-circle1 20s linear infinite;
}

.left > div:nth-of-type(2) {
  animation: services-circle2 20s linear infinite;
}

.left > div:nth-of-type(3) {
  animation: services-circle3 20s linear infinite;
}

.left > div:nth-of-type(4) {
  animation: services-circle4 20s linear infinite;
}


#team-start{
  margin-bottom: 7rem;
}
/* Team  */

.title {
  font-weight: 700;
  font-size: 9.6rem;
  text-transform: capitalize;
  margin: 3rem 0 5rem;
}

.box-team {
  flex-direction: column;
  align-items: center;
}

.photo-holder {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 3rem;
}

.photo-holder > div {
  width: 23%;
  height: 75vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4rem;
  background-position: center;
  overflow: hidden;
}

.photo1 {
  background-image: url(../img/team/meredith.png);
}

.photo2 {
  background-image: url(../img/team/jason.png);
}

.photo3 {
  background-image: url(../img/team/ryan.png);
}

.photo4 {
  background-image: url(../img/team/james.png);
}

.photo-holder:hover > div {
  filter: brightness(0.5);
}

.photo-holder > div:hover {
  filter: none;
}

.photo-title {
  background-color: var(--color-photo-title);
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 0%;
  bottom: 0;
  font-family: "Volkhov", serif;
  font-size: 4.8rem;
  color: #fffafa;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height 1s;
  display: flex;
}

.photo-holder > div:hover .photo-title {
 
  transition: .5s;
  height: 22%;
}


#contact-start{
  margin-bottom: 9rem;
}
/* CONTACT */
.contact {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.content {
  width: 85%;
  margin: 5rem auto 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10rem;
}

.left-contact {
  width: 61%;
}

.left-contact__title {
  font-weight: 700;
  font-size: 6.4rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 3rem;
}

.left-contact__form {
  background-color: var();
  width: 100%;
  background-color: var(--color-form-bg);
  padding: 3.5rem 3rem 3rem;
  box-sizing: border-box;
}

.name {
  margin: 0 5rem 4.5rem 0;
  width: 40%;
  padding-left: 2rem;
}

.email {
  width: 46%;
}

.name,
.email {
  height: 8rem;
}

.message {
  height: 20.9rem;
  padding-left: 2rem;
  width: 97%;
}

input[placeholder] {
  font-size: 3.6rem;
  font-weight: 700;
}

.email {
  padding-left: 7rem;
  box-sizing: border-box;
}

iframe {
  width: 36%;
  height: 65vh;
}

.contact-footer {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 3rem;
  font-style: italic;
  line-height: 3.6rem;
  width: 82%;
  margin: 0 auto;
  padding-bottom: 3rem;
  flex-wrap: wrap;
}

.contact-footer p {
  margin: 0;
}

.contact-footer p > span {
  font-weight: 700;
  font-style: normal;
}

.contact-footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opening {
  margin-bottom: 4rem;
  font-weight: 700;
  font-style: normal;
}
