:root {
  font-family: "Volkhov", serif;
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
}

.container {
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: 4.8fr 3.6fr 3.6fr;
  grid-template-rows: repeat(6, 6rem);
  background-color: #ffb084;
  border-radius: 2rem;
  padding: 3rem 4rem;
  box-sizing: border-box;
  gap: 1.4rem 2.2rem;
  grid-auto-rows: minmax(6rem, auto);
}

h1 {
  font-size: 2.4rem;
  text-align: center;
  line-height: 2.81rem;
  margin: 0 0 1.7rem;
  font-weight: 700;
}

.about > img {
  display: block;
  margin: 0 auto 1.7rem;
}

h3 {
  font-size: 1.4rem;
  margin: 0 0 0.7rem;
  font-weight: 700;
}

.bold {
  font-size: 1.2rem;
  font-weight: 600;
}

.container > div,
.about {
  border-radius: 2rem;
  background-color: #fff;
  box-sizing: border-box;
  padding: 1.5rem 2.5rem;
}

.about > div {
  font-size: 1.2rem;
  margin-bottom: 1.4rem;
}

.about > div:first-of-type {
  display: flex;
}

.about > div:first-of-type > div:first-of-type {
  margin-right: 2rem;
}

.about {
  grid-row: 1/6;
  grid-column: 1/2;
}

.bio {
  grid-column: 2/-1;
  grid-row: 1/3;
}

.goals {
  grid-column: 2/3;
  grid-row: 3/5;
  height: 75%;
  box-shadow: 7px 7px 0px 0px #29a71e;
}

.frustrations {
  grid-column: 3/-1;
  grid-row: 3/6;
  box-shadow: 7px 7px 0px 0px #e13535;
  height: 82%;
}

 ul {
  padding: 0 0 0 2rem;
  margin: 0;
}

ul > li {
    line-height: 1.64rem;
  }

.dream-companies {
  grid-column: 2/3;
  grid-row: 5/7;
  box-shadow: 7px 7px 0px 0px #3675b0;
  align-self: end;
  line-height: 1.64rem;
  height: 125%;
}

.quote {
  grid-row: 6/7;
  grid-column: 1 / 2;
  align-self: center;
}


.personality {
  grid-column: 3 / -1;
  grid-row: 6 / 7;
  height: 160%;
  align-self: end;
}

.about,
.quote,
.bio,
.personality {
  box-shadow: 7px 7px 0px 0px #000000;
}

.quote > h3 {
    margin: 0;
  }

.goals > h3 {
  color: #29a71e;
}

.frustrations > h3 {
  color: #e13535;
}

.dream-companies > h3 {
  color: #3675b0;
  font-size: 1.4rem;
}


