body {
    margin: 0;
}

.wrapper {
    max-width: 1500px;
    background-color: #F5F5F5;
}

.header{
  height: 100vh; 
  background:url(../img/header_text.png), url(../img/header_background.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center 37%, 45% 0;
 background-size: 73%, auto;
}

h2{
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

.content{
    width: 94%;
    margin: 0 auto 3%;
}
.triple{

    display: flex;
    justify-content: space-between;
    height: 80vh;
    margin-bottom: 3%;
}

.triple>div{
    background-color: #231B0C;
    background-repeat: no-repeat;
    width: 31.2%;
    height: 100%;
}

.triple a{
 display: inline-block;
 height: 100%;
 width: 100%;
}

a>div{
    height: 100%;
    background-repeat: no-repeat, no-repeat;  
}

.triple1{
    background-image:  url(../img/triple1_text.png), url(../img/triple1_img.png);
    background-position: center 10%, center 73%;
}

.triple2{
    background-image: url(../img/triple2_text.png),  url(../img/triple2_img.png);
    background-position: center 5%, center 73%;
}

.triple3{
    background-image: url(../img/triple3_text.png),  url(../img/triple3_img.png);
    background-position: center 5%, center 73%;
}

.venice{
    background-image: url(../img/venice.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.footer{
    background-color: #150F02;
    height: 40vh;
    padding-top: 2%;
}


ul>li{
 background-repeat: no-repeat;
list-style: none;
margin: 11% 0;
}


.footer-menu{
    display: flex;
    flex: 0 1 80%;
    height: 40%;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 8%;
}

.contacts{
display: flex;
flex-direction: column;
align-items: center;
}

.contacts_text{
font-family: 'Roboto', sans-serif;
text-transform: uppercase;
color: #FFFFFF;
font-weight: 400;
font-size: 20px;
line-height: 27.44px;
letter-spacing: .2em;
}

.contacts_underline{
    margin: 0 auto;
    width: 30%;
    height: 2vh;
    background-image: url(../img/underline.png);
    background-repeat: no-repeat;
    background-position: center;
}


.insta .fb .youtube{
    display: inline-block;
    text-decoration: none;
}

.contacts_socials{
    margin: 1% auto;
    width: 15%;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
