@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap");

:root {
  font-size: 10px;
  --color-nav: #ffffff;
  --color-bg: #000000;
  --color-yelow: #f6ad09;
  --color-modelo: #ffbb00;
  --color-gray: #b2b2b2;
  --color-btn: #332200;
  --color-rs: #595959;
  --color-trade-mark-border: #e0e0e0;
  --color-seguros: #161616;
  --color-prata: #9c9c9c;
  --color-btn: #2e2e2e;
  --color-btn-text: #cccccc;
}

/* font-family: 'Merriweather', serif;

font-family: 'Roboto', sans-serif; */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.holder {
  background-color: var(--color-bg);
  min-height: 82rem;
  margin-bottom: 14.5rem;
}

.wrapper {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72.5%;
  margin: 0 auto;
  box-sizing: border-box;
  font-weight: 500;
}

.logo,
.nav > li > a {
  color: var(--color-nav);
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.nav > li {
  list-style: none;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.nav > li > a {
  text-decoration: none;
  text-transform: capitalize;
}

.logo {
  font-size: 3.6rem;
  line-height: 3.2rem;
  font-weight: 500;
}

.logo> a{
  text-decoration: none;
  color: var(--color-nav);
}

.baner {
  display: flex;
  width: 72.5%;
  color: var(--color-nav);
  margin: 0 auto;
  min-height: 56rem;
  box-sizing: border-box;
}

.baner > .left {
  width: 46%;
  align-self: end;
}

.title {
  font-size: 6.4rem;
  line-height: 7.2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.title > span {
  color: var(--color-yelow);
}

.descr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: var(--color-gray);
  margin-bottom: 5rem;
}

.baner .btn a {
  padding: 1.9rem 3.2rem 1.6rem 2.9rem;
  background-color: var(--color-yelow);
  color: var(--color-btn);
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  width: 30%;
  border: 0;
  text-decoration: none;
}
.right {
  position: relative;
}
.right > img {
  position: absolute;
  left: 8.3rem;
}

.escolha {
  margin: 0 0 4.4rem 14%;
  font-weight: 600;
  font-size: 6.4rem;
  line-height: 7.2rem;
}

.yellow-square {
  width: 2.2rem;
  height: 1rem;
  background-color: var(--color-yelow);
}

.about-pic {
  margin-top: 3rem;
  background-image: url(../img/Rectangle\ 1.png);
  background-position: 0 1.5rem;
  background-repeat: no-repeat;
  padding-left: 3rem;
}

.about-pic > div:first-of-type {
  font-weight: 60;
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}

.about-pic > div:last-of-type {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: var(--color-rs);
}

.fig-holder {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

figure{
	margin: 0;
}

figure>img{
  margin: 0;
width: 100%;
}

.holder2 {
  margin-top: 19.3rem;
  min-height: 94.7rem;
}

.baner2 {
  height: 90%;
  margin-bottom: 14.2rem;
}

.baner2__img {
  top: -8.7rem;
}

.baner2 .left2 {
  width: 50%;
  height: 100%;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--color-gray);
}

.modelo {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  display: inline-block;
  color: var(--color-modelo);
  text-transform: uppercase;
  padding-bottom: 0.3rem;
  border-bottom: 0.4rem solid var(--color-modelo);
  margin-bottom: 6.2rem;
}

.models {
  display: flex;
  justify-content: space-between;
}

.model {
  width: 47%;
}

.model-title {
  background-image: url(../img/Rectangle\ 1.png);
  background-position: 0 center;
  background-repeat: no-repeat;
  padding-left: 3rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-bottom: 1.6rem;
}

.model-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-gray);
  width: 95%;
}

.title-parceiros {
  margin: 14.2rem 0 4.3rem 22rem;
}

.tade-mark-holder {
  width: 90%;
  margin: 0 auto 10.8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 13.5rem);
  gap: 1.3rem 2.1rem;
}

.t-m {
  background-repeat: no-repeat;
  border: 2px solid var(--color-trade-mark-border);
  background-position: center center;
}

.trade-mark1 {
  background-image: url(../img/caravan\ 1.png);
}

.trade-mark2 {
  background-image: url(../img/ranek\ 1.png);
}

.trade-mark3 {
  background-image: url(../img/handel\ 1.png);
}

.trade-mark4 {
  background-image: url(../img/dogs\ 1.png);
}

.trade-mark5 {
  background-image: url(../img/lescone\ 1.png);
}

.trade-mark6 {
  background-image: url(../img/flexblog\ 1.png);
}

.trade-mark7 {
  background-image: url(../img/wildbeast\ 1.png);
}

.trade-mark8 {
  background-image: url(../img/surfbot\ 1.png);
}

.figure-holder {
  display: flex;
  background-color: var(--color-modelo);
}

.figure-holder>img{
	width: 50%;
}

.figcaption-inner{
	display: flex;
height: 100%;
flex-direction: column;
align-items: start;
justify-content: end;
padding: 0 0 9rem 3.6rem;
box-sizing: border-box;
}

.blockquote {
  background-image: url(../img/“\ 1.png), url(../img/“\ 2.png);
  background-repeat: no-repeat;
  background-position: 0 0, 100% 100%;
  padding: 1rem 4rem;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 4.8rem;
  font-style: italic;
  width: 79%;
align-self: flex-start;
  box-sizing: border-box;
}

.author {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-left: 4.5rem;
}

.seguros-holder {
  background-color: var(--color-seguros);
  padding: 7.3rem 0 10rem;
}

.title__seguros {
  color: var(--color-nav);
  margin: 0 0 3.6rem 15%;
}

.sugestions {
  display: flex;
  justify-content: center;
 align-items: center;
}

.card {
  background-color: var(--color-bg);
  padding-bottom: 3.5rem;
}

.card:hover{
	scale: 1.1;
	transition: all .5s;
}

.card-prata {
  margin-right: 4.1rem;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3.5rem 2.8rem 2.7rem 5.4rem;
  box-sizing: border-box;
}

.name {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.8rem;
}

.name__prata {
  color: var(--color-prata);
}

.name__ouro {
  color: var(--color-modelo);
}

.price__number {
  color: var(--color-nav);
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.8rem;
  margin-left: 14.5rem;
}

.price__period {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--color-prata);
  text-align: right;
}

.about > ul {
  padding-left: 3.3rem;
  margin: 0 0 4rem;
}

.about > ul > li {
  background-image: url(../img/Rectangle\ 4.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem;
  list-style: none;
  color: var(--color-nav);
  margin-bottom: 1.8rem;
  padding-left: 2.4rem;
}

.reg-btn a{
  background-color: var(--color-btn);
  padding: 1.5rem 2.8rem;
  color: var(--color-btn-text);
  width: 12.1rem;
  border-radius: .5rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-left: 5.5rem;
  border: 0;
}


.footer-holder{
  background: var(--color-bg);
}

.footer-main{
  width: 72%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-logo{
  margin-top: 5.6rem;
}

.tile{
  margin: 6.6rem 0 3.1rem;
  font-weight: 500;
  font-size: 2.4rem;
 line-height: 3.2rem;
color: var(--color-nav);
}

.footer-main ul{
  padding: 0;
  margin: 0;
}

.footer-main ul>li{
  font-family: 'Roboto', sans-serif;
  color: var(--color-gray);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  list-style: none;
}

.footer-main ul>.socials{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__list>li:last-of-type{
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.contacts__list>li:nth-of-type(2){
  margin-bottom: 4.5rem;
}

.contacts__list>li:nth-of-type(4){
  margin-bottom: 3.5rem;
}

.info-list a{
  font-family: 'Roboto', sans-serif;
    color: var(--color-gray);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3.6rem;
  list-style: none;
  text-decoration: none;
}

.info-list a:hover{
  color: var(--color-modelo);
}

.footer-bottom{
  margin-left: 14%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--color-prata);
  padding: 5.6rem 0 4.6rem;
}